.header{
    width: 100%;
    max-width: 100%;
    display: flex;
    padding: 10px 20px;
    justify-content: space-between;
    background-color: #5858e0;
}
.left{

}
.right{
    width: 90px;
    display: flex;
    justify-content: space-between;
}
