/* .App {
  min-height: 100vh;
  background-color: #E0E4E7;
  padding: 30px 0px;
} */
.App{
  margin: auto;
  border: 2px solid black;
  /* border-radius: 10px; */
  max-width: 400px;
  min-width: 400px;
  min-height: 100vh;
  overflow: hidden;
  /* background-color: #E0E4E7; */
}
a{
  text-decoration: none;
}