
.g1,.g2,.g3{
    padding: 15px;
    width: 80%;
    height: auto;
    margin: auto;
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 2px 2px 10px black;
}

.g1 img, .g2 img, .g3 img{
    border-radius: 10px;
}

.g3 a,.g2 a,.g1 a{
    padding: 15px;
    width: 100%;
    height: auto;
    margin: auto;
    display: flex;
    flex-direction: column;
}